__pycache__/
meshes/__pycache__/
world_objects/__pycache__/
sounds/other/
*.mp3
*.pyc
*.nbc
*.nbi
save.db
command.txt
convert_audio.ps1
meshes/quad_mesh.py
world_objects/water.py
shaders/water.vert
shaders/water.frag