__pycache__/
.pytest_cache/
extra/
*.mp3
*.pyc
*.nbc
*.nbi
saves/
build/
dist/
# docs/
docs/_build/
command.txt
convert_audio.ps1
test_obj.py
append_texture.py
audio_length.py
ui.py
config.json
plans.txt
crash_log.txt